<div class="section px-2 px-lg-4 pt-5" id="portfolio">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">Portfolio </h2>
        </div>
        <div class="grid bp-gallery pb-3" data-aos="zoom-in-up" data-aos-delay="100">
            <div class="grid-sizer"></div>
            <div class="grid-item">
               
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul1.jpg" data-bp="~/Template/images/okul2.jpg" />
                    </figure>
                
            </div>
            <div class="grid-item">
               
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul3.jpg" data-bp="~/Template/images/okul4.jpg" data-caption="Example of an optional caption." />
                        
                    </figure>
                
            </div>
            <div class="grid-item">
                
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul5.jpg" data-bp="~/Template/images/okul6.jpg" data-caption="Example of an optional caption." />
                        
                    </figure>
                
            </div>
            <div class="grid-item">
               
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul7.jpg" data-bp="~/Template/images/okul8.jpg" />
                        
                    </figure>
                
            </div>
            <div class="grid-item">
               
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul9.jpg" data-bp="~/Template/images/okul10.jpg" />
                       
                    </figure>
                
            </div>
            <div class="grid-item">
               
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul11.jpg" data-bp="~/Template/images/okul12.jpg" />
                        
                    </figure>
                
            </div>
            <div class="grid-item">
                
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul13.jpg" data-bp="~/Template/images/okul14.jpg" />
                       
                    </figure>
                
            </div>
            <div class="grid-item">
                
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul15.jpg" data-bp="~/Template/images/okul17.jpg" />
                        
                    </figure>
                
            </div><div class="grid-item">
                
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul17.jpg" data-bp="~/Template/images/okul17.jpg" />
                        
                    </figure>
                
            </div>
            <div class="grid-item">
                
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul18.jpg" data-bp="~/Template/images/okul17.jpg" />
                        
                    </figure>
                
            </div>
            <div class="grid-item">
                
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul19.jpg" data-bp="~/Template/images/okul17.jpg" />
                        
                    </figure>
                
            </div>
            <div class="grid-item">
                
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul20.jpg" data-bp="~/Template/images/okul17.jpg" />
                        
                    </figure>
                
            </div>
            <div class="grid-item">
                
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul21.jpg" data-bp="~/Template/images/okul17.jpg" />
                        
                    </figure>
                
            </div>
            <div class="grid-item">
                
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul22.jpg" data-bp="~/Template/images/okul17.jpg" />
                        
                    </figure>
                
            </div> 
            <div class="grid-item">
                
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul23.jpg" data-bp="~/Template/images/okul17.jpg" />
                        
                    </figure>
                
            </div>
            <div class="grid-item">
                
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul2.jpg" data-bp="~/Template/images/okul17.jpg" />
                        
                    </figure>
                
            </div>
            <div class="grid-item">
                
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul4.jpg" data-bp="~/Template/images/okul17.jpg" />
                        
                    </figure>
                
            </div>
            <div class="grid-item">
                
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul6.jpg" data-bp="~/Template/images/okul17.jpg" />
                        
                    </figure>
                
            </div>
            <div class="grid-item">
                
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul8.jpg" data-bp="~/Template/images/okul17.jpg" />
                        
                    </figure>
                
            </div>
            <div class="grid-item">
                
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul10.jpg" data-bp="~/Template/images/okul17.jpg" />
                        
                    </figure>
                
            </div>
            <div class="grid-item">
                
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul12.jpg" data-bp="~/Template/images/okul17.jpg" />
                        
                    </figure>
                
            </div>
            <div class="grid-item">
                
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul14.jpg" data-bp="~/Template/images/okul17.jpg" />
                        
                    </figure>
                
            </div> 
            <div class="grid-item">
                
                    <figure class="portfolio-item">
                    <img src="~/Template/images/okul16.jpg" data-bp="~/Template/images/okul17.jpg" />
                        
                    </figure>
                
            </div>
        </div>
    </div>
</div>